<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yyds.recipe.mapper.UserMapper">
    <insert id="saveUser" parameterType="com.yyds.recipe.model.RegisterUser">
        insert into recipe.registerUser(userId, firstName, lastName, gender, email, nickName, password, birthDate)
        values (#{userId}, #{firtName}, #{lastName}, #{gender}, #{email}, #{nickName}, #{password}, #{birthDate})
    </insert>
</mapper>